[submodule "gtest"]
	path = gtest
	url = https://github.com/google/googletest.git
[submodule "src/Eigen"]
	path = src/Eigen
	url = https://github.com/eigenteam/eigen-git-mirror
[submodule "Simple-Web-Server"]
	path = Simple-Web-Server
	url = https://gitlab.com/eidheim/Simple-Web-Server/
