leelaz
*.o
*.d
cmake-build-release/
.vscode/settings.json
training/tf/leelalogs
training/tf/checkpoint
training/tf/venv
leelaz-model*
*.orig
leelaz_opencl_tuning
/build-autogtp-*
/build-validation-*
.vs/
build/
**/.DS_Store
cmake-build-debug/
.idea/
client/lib
client/public/build
client/node_modules
client/yarn.lock
client/package.json.lock
client/package-lock.json
client/public
